﻿@{
    ViewBag.Title = "Access Denied";
}
<div class="content-holder">
    <div class="content-title">
        <h3>@ViewBag.Title</h3>
    </div>
    You do not have permission to view the page.
</div>