﻿@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Sample Project in ASP.NET MVC framework.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administartor Access Only</h2>
        <p>
            Only Administrator can view this page after authentication.
        </p>
        <p>
            @Html.ActionLink("Click Here", "AdministratorAction", "ActionTask", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Teacher Access Only</h2>
        <p>Only Teacher can view this page after authentication.</p>
        <p>
            @Html.ActionLink("Click Here", "TeacherAction", "ActionTask", null, new { @class = "btn btn-default" })
        </p>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Get User Id from Api</h2>
            <p>Click to get User id from api.</p>
            <p>
                <button onclick="myfunction();" class="btn btn-default">Click Here</button>
            </p>
        </div>
    }
</div>
@section scripts{
    <script>
        function myfunction() {
            $.ajax({
                url: '/Api/Common/GetUserId',
                method: 'GET',
                success: function (data) {
                    alert(data);
                }
            });
        }
    </script>
}